<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <title>Twebates</title>
  </head>

   

  <body>
    <nav id="front-page-nav">
      <div id="nav_color" class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="images/logo.png"></a>
        <h3 id="large-only" align="center"> Twebates</h3>
        <!--a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a-->
      </div>
      </div>
    </nav>


    <div class="row" id="card-row">
      </br></br>
      <div class="col s0 m0 l1"><p></p></div>
      <div class="col s12 m6 l5">
        <div class="card orange lighten-2 z-depth-5">
        <div class="card-content white-text">
          <span class="card-title">Twitter Login</span>
             <% if (user.twitter.profile == undefined) { %>

              <!-- display if the user has no Twitter profile (they will have one if Twitter is connected) -->
            <div class="card-action">
              <a href="/auth/twitter" class="btn btn-default" >Connect to Twitter</a>
            </div>

          <% } else { %>

            <!-- display a sampling of the user's Twitter profile info -->
            <!-- addressing the user by name, given via Twitter -->
            <p>Hello, <%= user.twitter.profile.displayName %>!</p>

            <!-- using EJS helper tags to display profile image from Twitter -->
            <%- img_tag(user.twitter.profile.photos[0].value) %>

            <!-- display Twitter username, make it a link to the user's Twitter page with EJS helper tag -->
            <p><b>Username:</b> <%- link_to('@'+user.twitter.profile.username, 'https://twitter.com/'+user.twitter.profile.username) %><br>
              
              <!-- display number of Twitter followers -->
              <b>Followers:</b> <%= user.twitter.profile._json.followers_count %><br>

              <!-- display number of followers the user has on Twitter -->
              <b>Following:</b> <%= user.twitter.profile._json.friends_count %></p>

            <!-- disconnect from Twitter button (destroys all Twitter records) -->
            <div class="card-action">
              <a href="/disconnect/twitter" class="btn btn-default">Disconnect from Twitter</a>
            </div>

          <% } %>
        </div>
        </div>
      </div>

      <div class="col s12 m6 l5">
        <div class="card orange lighten-2 z-depth-5">
        <div class="card-content white-text">
          <span class="card-title">Current US Trending</span>
          <div>
            <% if (user.twitter.trends == undefined) { %>
            <% } else { %>
              <ul>
                <% for(var i=0; i<10; i++) { %>
                 <li><%= user.twitter.trends[i] %></li>
                <% } %>
              </ul>
            <% } %>
            
          </div>
        </div>
        </div>
      </div>
      
    </div>

    <div id="body-container" class="container">
    <!--      Outer row-->
    <div class="row">
      <div class="col hide-on-small-only s0 m3 l2">
        <div style="height: 1px;">
        <div class="inlineBlock topAligned"><b>Chatters</b><br>
          <div id="participants"></div>
        </div>
        </div>
      </div>
    
      <div id="chatbox" class="section col s12 m9">
        <div id="download" class="row scrollspy">
          <div class="inlineBlock"><span><b>Name:</b>
              <input type="text" value="Twebator" id="name"></span><br><br>
            <form id="messageForm">
              <textarea rows="6" cols="50" placeholder="Share something!" maxlength="500" id="outgoingMessage"></textarea>
              <input type="button" value="Share" disabled id="send">
            </form>
          </div>
        </div>
      </div>
      
      <div class="section col s12 m9" id="messages"></div>
    </div>
  </div>

  </body>
</html>